/* Farbschema: http://colorschemedesigner.com/#2m52Pw0w0w0w0 + #333333 + #FFFFFF + #000000*/

/* === ALLGEMEIN === */
body
{
    font-family: "Cambria","Cambria",serif;
    background:#ffffff;
    color:#333333;
    min-width:6.25in;
    /*6.25in = 600px @ 96dpi => 800*600 Monitor minimal, auf Handys selbe Schriftgröße*/
}
h1
{
    font-family:  "DroidSerif", "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
}
p
{
    text-align: justify;
    word-wrap: break-word;
}

/* === HEADER === */
#header{
    font-family:  "DroidSerifRegular", "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    height: 1.1in;
}

#header h1{
    font-size: 26pt;
    line-height: 46pt;
    text-align: center;
    margin:0;
    background: #FFFFFF;
    color: #333333;
    text-shadow: 2pt 2pt 5pt #888888;
}

#logo
{
    height: 92px;
    float: right;
}
/* === MENU === */

.menu ul{
    background-color:#333333;
}
.menu li ul{
    background-color:#333333;
}
.menu li a{
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    /*border-right: 1px groove #9FEE00;*/
    background-color: #333333;
    color:#FFFFFF;
    text-decoration: none;
}
.menu li a:hover, .menu ul li:hover a{
    background-color: #222222;
    color:#ffffff;
}
.menu li ul a:hover, .menu li ul li:hover a{
    background-color: #222222;
    color:#ffffff;
}
.menu li:hover li a{
    color:#FFFFFF;
    background-color:#333333;
}
/* === FOOTER === */
#footer{
    text-align: center;
    background-color: #333333;
    color:#FFFFFF;
}
/* === VERTRETUNGSPLAN === */
.bgreplacements{
    background-color: #ffffff;
    box-shadow: 0pt 10pt 5pt #999999 inset;
}
.replacements {
    text-align: center;
}
.replacements h2{
    font-family: "Cambria","Times",serif;
}
.replacements h2~h2 { 
    margin-top: 1in;
}
.replacements ul{
    list-style: none;
    background: #eeeeee;
    padding: 0;
}
.replacements li{
    border-color: #dddddd;
    border-width:  1pt;
    border-style: solid;
    border-spacing: 0pt;
    margin: 0;
}
.replacements table{
    list-style: none;
    background: #eeeeee;
    width:100%;
    border-collapse: collapse;
}
.replacements th{
    border-top-color: #888888;
    border-top-width:  1pt;
    border-top-style: solid;
    border-top-spacing: 0pt;
    border-bottom-color: #888888;
    border-bottom-width:  2pt;
    border-bottom-style: groove;
    border-bottom-spacing: 0pt;
    color: #002475;
}
.replacements td{
    padding: 0 10pt;
    border-bottom-color: #FFFFFF;
    border-bottom-width:  1pt;
    border-bottom-style: solid;
    border-bottom-spacing: 0pt;
    margin: 0pt;
    line-height: 18pt;
    font-size: 12pt;
    vertical-align: top;
}
.replacements th, .replacements td{
    padding: 0 10pt;
    margin: 0pt;
    line-height: 18pt;
    font-size: 12pt;
    vertical-align: top;
}
.replacements .description{
    width:100%;
    text-align: justify;
}
.replacements .even
{
    background-color: #B4CBFF;
}
/* === MELDUNGEN === */
.bgevents{
    background-color: #eeeeee;
    box-shadow: 0pt 10pt 5pt #999999 inset;
}
.events{

}
.events ul{
    list-style: none;
    background: #eeeeee;
    padding: 0;
}
.events li{
    border-color: #dddddd;
    border-width:  1pt;
    border-style: solid;
    border-spacing: 0pt;
    margin: 0;
}