.menu{
    padding:0px;
    font-weight:bold;
    margin: 0;
}
.menu ul{
    height:24pt;
    list-style:none;
    margin: 0;
    padding:0;
}
.menu li{
    float:left;
    padding:0px;
}
.menu li a{
    display:block;
    font-weight:normal;
    line-height:24pt;
    margin:0pt;
    padding:0pt 20pt;
    text-decoration: none;
}
.menu li.seperator{
    background: url("images/sep_h.gif");
    background-position:  bottom center;
    width: 1px;
    height: 24pt;
}
.menu li a:hover, .menu ul li:hover a{
    background-image: url("images/hover_h.png");
    background-position:  bottom center;
    background-repeat:  no-repeat;
}
.menu li ul{
    display:block;
    height:0;
    overflow:hidden;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:200pt;
    z-index:200;
    /*top:1em;
    /*left:0;*/
}
.menu li:hover ul{
    display:block;
    height:auto;
}
.menu li li {
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:200pt;
}
.menu li li.seperator{
    background: url("images/sep_v.gif") bottom left no-repeat;
    width: 100pt;
    height: 1px;
}
.menu li ul a{
    display:block;
    line-height:18pt;
    font-style:normal;
    margin:0px;
    padding:5pt 10pt 5pt 15pt;
    text-align:left;
}
.menu li ul a:hover, .menu li ul li:hover a{
    background-image: url('images/hover_v.png');
    background-position: center left;
    background-repeat: no-repeat;
}
.menu li:hover li a{
    background-image: none;
}
.menu p{
    clear:left;
}	

