.menu{
    padding:0px;
    font-weight:bold;
    margin: 0;
}
.menu ul{
    background:#333333;
    height:24pt;
    list-style:none;
    margin: 0;
    padding:0;
}
.menu li{
    float:left;
    padding:0px;
}
.menu li a{
    display:block;
    font-weight:normal;
    line-height:24pt;
    margin:0pt;
    padding:0pt 20pt;
}
.menu li.seperator{
    background: url("images/sep_h.gif");
    background-position:  bottom center;
    width: 1px;
    height: 24pt;
}
.menu li a:hover, .menu ul li:hover a{
    background-image: url("images/hover_h.png");
    background-position:  bottom center;
    background-repeat:  no-repeat;
}
.menu li ul{
    transition: height 0.5s ease-in-out;
    -moz-transition: height 0.5s ease-in-out;
    -o-transition: height 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
    background:#333333;
    display:block;
    height:0px;
    overflow:hidden;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:200pt;
    z-index:200;
    /*top:1em;
    /*left:0;*/
}
.menu li:hover ul{
    display:block;
    height:auto;
}
.menu li li {
    /*background:url('images/sep_v.gif') bottom left no-repeat;*/
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:200pt;
}
.menu li li.seperator{
    background: url("images/sep_v.gif") bottom left no-repeat;
    width: 100pt;
    height: 1px;
}
.menu li ul a{
    display:block;
    line-height:18pt;
    font-size:18pt;
    font-style:normal;
    margin:0px;
    padding:5pt 10pt 5pt 15pt;
    text-align:left;
}
.menu li ul a:hover, .menu li ul li:hover a{
    background:#222222 url('images/hover_v.png') center left no-repeat;
    color:#ffffff;
    text-decoration:none;
}
.menu p{
    clear:left;
}	

