/* Farbschema: http://colorschemedesigner.com/#2m52Pw0w0w0w0 + #333333 + #FFFFFF + #000000*/

/* === ALLGEMEIN === */
body
{
    font-family: "Cambria","Cambria",serif;
    background:#ffffff;
    color:#333333;
    min-width:6.25in;
    /*6.25in = 600px @ 96dpi => 800*600 Monitor minimal, auf Handys selbe Schriftgröße*/
}
h1
{
    font-family:  "DroidSerif", "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
}
p
{
    text-align: justify;
    word-wrap: break-word;
}
a{
    text-decoration: underline;
    color: inherit;
}

/* === HEADER === */
#header{
    font-family:  "DroidSerif", "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    height: 1in;    
    border-bottom-color: #999999;
    border-bottom-style: groove;
    border-bottom-width: 2pt;
    box-shadow: 0pt 5pt 5pt #999999;
}

#header h1{
    font-size: 24pt;
    line-height: 48pt;
    text-align: center;
    margin:0;
    background: #FFFFFF;
    color: #333333;
    text-shadow: 2pt 2pt 5pt #888888;
}

#logo
{
    height: 48px;
    float: right;
}
/* === MENU === */
.menu{
    font-size: 14pt;
}
.menu ul{
    background-color:#333333;
}
.menu li ul{
    background-color:#333333;
}
.menu li a{
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    background-color: #333333;
    color:#FFFFFF;
}
.menu li a:hover, .menu ul li:hover a{
    background-color: #222222;
    color:#ffffff;
}
.menu li ul a:hover, .menu li ul li:hover a{
    background-color: #222222;
    color:#ffffff;
}
.menu li:hover li a{
    color:#FFFFFF;
    background-color:#333333;
}
/* === FOOTER === */
#footer{
    text-align: center;
    background-color: #333333;
    color:#FFFFFF;
    box-shadow: 0pt -5pt 5pt #999999;
    border-top-color: #999999;
    border-top-style: groove;
    border-top-width: 2pt;
}
#footer p{
    text-align: center;
    margin: 3pt 0;
}
/* === VERTRETUNGSPLAN === */
.bgreplacements{
    background-color: #ffffff;
    box-shadow: -2pt 0pt 5pt #999999 inset;
}
.replacements {
    text-align: center;
    padding-bottom: 6pt;
}
.replacements h2{
    font-family: "Cambria","Times",serif;
}
.replacements h2~h2 { 
    margin-top: 1in;
}
.replacements ul{
    list-style: none;
    background: #eeeeee;
    padding: 0;
    box-shadow: 2pt 2pt 5pt #999999;
}
.replacements li{
    margin: 3pt 0;
}
.replacements table{
    list-style: none;
    background: #eeeeee;
    width:100%;
    border-collapse: collapse;
    border-color: #dddddd;
    border-width:  1pt;
    border-style: solid;
    border-spacing: 0pt;
    position: relative;
    z-index: 50;
    box-shadow: 2pt 2pt 5pt #999999;
    margin-bottom: 4pt;
}
.replacements th{
    border-top: 1pt solid #888888;
    border-bottom:2pt groove #888888;
}
.replacements td{
    padding: 0 10pt;
    border-bottom: 1pt solid #FFFFFF;
    margin: 0pt;
    vertical-align: top;
}
.replacements th, .replacements td{
    padding: 0 2pt;
    margin: 0pt;
    vertical-align: top;
    line-height: 150%;
}
.replacements tr:last-of-type td{
    border-bottom:  1pt solid #888888;
}
.replacements .description{
    width:100%;
    text-align: justify;
}
.replacements .odd
{
    background-color: #B4CBFF;
}
/* === MELDUNGEN === */
.bgevents{
    background-color: #eeeeee;
}
.events{

}
.events ul{
    list-style: none;
    background: #eeeeee;
    padding: 0;
}
.events li{
    margin: 3pt 0;
}