/* Verwendet von den ASG-Vertretungsplan-Seiten */

/* == BASICS == */

header, footer, section, article, aside, nav {
    display: block;
}
body {
    margin: 0 auto;
    width: 500px;
}
nav+section {
    overflow: hidden;
    width: 640px;
    float: left;
    clear: none;
}

/* == LINKS == */

a:link, a:visited {
    text-decoration: underline;
    color: #336666;
}
a:hover, a:active {
    text-decoration: underline;
    color: #339966;
}

/* == HEADER == */

body>header {
    background: #111;
    padding: 33px;
    color: #ccc;
}
body>header h1 {
    margin: 0;
}

/* == POSTS == */

article>header p, 
article>footer p {
    font-style: italic;
}
article+nav {
    font-weight: bold;
}
section>h1 {
    padding-top: 10px;
}

/* == NAVIGATION == */

nav {
    text-align: center;
    clear: both;
}
body>nav {
    background: #ddd;
    padding: 10px 0;
}
body>nav ul {
    text-align: left;
    margin: 0;
}
body>nav li {
    margin-right: 20px;
    display: inline;
}

/* == COMMENTS == */

article[id*=comment-] {
    margin: 15px 0;
    padding: 10px;
}
article[id*=comment-] h4 {
    margin: 0;
}
.alt {
    border: 1px solid #ddd;
    background: #eee;
}
form[method=post] label {
    display: block;
}
form[method=post] input {
    margin: 2px 0 12px 0;
    display: block;
}

/* == SIDEBAR == */

aside {
    margin-top: 30px;
    overflow: hidden;
    width: 300px;
    float: right;
    clear: none;
}
aside li {
    list-style: none;
}
aside li ul li {
    list-style: disc outside;
}

/* == FOOTER == */

body>footer {
    padding-top: 100px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    clear: both;
}

/* == SEARCH == */

label[for=s] {
    display: none;
}

/* == ELEMENTS == */
